<!DOCTYPE html>
<html>
  <% include partial/head.ejs %>

  <body>
  <% include partial/nav.ejs %>
  <% include partial/background.ejs %>

    <!-- Page content -->
    <div class="main">
      <div class="container tim-container" style="max-width:800px; padding-top:100px">

        <h1 class="text-center">Login <br><small class="subtitle"></small></h1>
        <p>Do not have a login yet? Register here.</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        </div>
      </div>
  </body>
  <% include partial/footer.ejs %>
</html>
