<!DOCTYPE html>
<html>
  <head>
    <% include partial/head.ejs %>
    <link rel="stylesheet" type="text/css" href="assets/css/map/styles.css">
  </head>
  <body>
    <% include partial/nav.ejs %>
        <header>
      <h1>Geo Search</h1>
      <a href="" class="change_page_state page_mode mode_button active" data-mode="bounding" data-state="rectangle">Bounding box</a>
      <a href="" class="change_page_state page_mode mode_button" data-mode="around"   data-state="ip">Around a location</a>
        <a href="" class="change_page_state page_mode mode_button" data-mode="edit"   data-state="edit">Edit mode</a>
    </header>


    <!-- Hits and Map -->
    <section class="map_section">
      <div class="left-column">
        <input id="search-input" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search..."/>
        <div id="hits"></div>
      </div>

      <div class="right-column">
        <div id="map"></div>
      </div>

      <div class="clear-both"></div>
    </section>
    <!-- /Hits and Map -->


    <!-- Footer -->
    <footer>
      Geo-Search demo -
      Read the <a href="https://www.algolia.com/doc/geo-search/geo-search-overview">guide</a> -
      Source Code on <a href="https://github.com/algolia/demo-geo-search">GitHub</a> -
      Powered by <a href="http://www.algolia.com/">Algolia</a>
    </footer>
    <!-- /Footer -->


    <!-- Hit template -->
    <script type="text/template" id="hits-template">
      {{#hits}}
      <div class="hit">
        <h3 class="hit-airport-code">{{{source}}}</h3>
        <h2 class="hit-name">{{{ title }}}</h2>
        <p class="hit-location">{{{ activities }}}<span class="hit-distance"> {{ hits.userScore }}</span></p>
      </div>
      {{/hits}}
    </script>
    <!-- /Hit template -->


    <!-- No-Results template -->
    <script type="text/template" id="no-results-template">
      <div id="no-results-message">
        <p>We didn't find any airports in this location.</p>
      </div>
    </script>
    <!-- /No-Results template -->


    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.common.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPKe3DP9RFrEkjd28zQJiF_3dPBvR7ehQ"></script>
    <script src="map.js"></script>
    <!-- /Javascript -->

    <% include partial/footer.ejs %>
  </body>
</html>
