<!DOCTYPE html>
<html>
  <% include partial/head.ejs %>

  <body>
  <% include partial/nav.ejs %>
  <% include partial/background.ejs %>

    <!-- Page content -->
    <div class="main">
      <div class="container tim-container" style="max-width:800px; padding-top:100px">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        </div>
        <div class="row">

          <!-- FACEBOOK INFORMATION -->
          <div class="col-sm-6">
              <div class="well">
                  <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                  <!-- check if the user has this token (is the user authenticated with this social account) -->
                  <% if (user.facebook.token) { %>
                      <p>
                          <strong>id</strong>: <%= user.facebook.id %><br>
                          <strong>token</strong>: <%= user.facebook.token %><br>
                          <strong>email</strong>: <%= user.facebook.email %><br>
                          <strong>name</strong>: <%= user.facebook.name %><br>
                      </p>

                      <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                  <% } else { %>
                      <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                  <% } %>

              </div>
          </div>
        </div>

        </div>
      </div>

  </body>
  <% include partial/footer.ejs %>
</html>
