<nav>
  <!-- Footer -->
  <footer>

  <div class="parallax-pro">
      <div class="img-src" style="background-image: url('http://get-shit-done-pro.herokuapp.com/assets/img/bg6.jpg');"></div>
      <div class="container">
          <div class="space-30"></div>
          <div class="row">
               <div class="col-md-12 text-center">
                  <div class="credits">
                      &copy; <script>document.write(new Date().getFullYear())</script> Template Kit by <a href="http://creative-tim.com"> Creative Tim</a>, made with <i class="fa fa-heart heart" alt="love"></i> for a better web.
                  </div>
                  <div class="credits">
                      &copy; <script>document.write(new Date().getFullYear())</script> Search powered by <a href="http://creative-tim.com"> Algolia</a>.
                  </div>
              </div>
          </div>
      </div>

  </div>

</footer>

</nav>
